<div class="container mt-5">
  <% if @names.count == 0 %>
    <h1>Aucun nom trouvé</h1>
  <% else %>
    <h1 style="margin-top: 140px;">Ici la liste des noms</h1>
    <div class="accordion" id="accordionExample">
      <% @names.each do |name| %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-<%= name[0] %>">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= name[0] %>" aria-expanded="false" aria-controls="collapse-<%= name[0] %>">
              <%= name[0] %> : <%= name[1].count %>
            </button>
          </h2>
          <div id="collapse-<%= name[0] %>" class="accordion-collapse collapse <%= 'show' if @names.count <= 10 %>" aria-labelledby="heading-<%= name[0] %>" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul class="list-group mb-3">
                <% name[1].each do |name| %>
                  <%= name %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

