<body id="page-top">
	<!-- Masthead-->
	<header class="masthead bg-primary text-white text-center">
		<div class="container d-flex align-items-center flex-column">
			<!-- Masthead Avatar Image-->
			<img class="masthead-avatar mb-5" src="assets/img/bebed.png" alt="..." />
 			<!-- Masthead Heading-->
			<h1 class="masthead-heading text-uppercase mb-0">Générateur de prénoms</h1>
			<!-- Icon Divider-->
			<div class="divider-custom divider-light">
				<div class="divider-custom-line"></div>
				<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
				<div class="divider-custom-line"></div>
			</div>
			<%= form_with(url: baby_names_path, method: :get, local: true, class: "form-inline") do %>
				<%= label_tag :required_chars, 'Mettez des lettres qui seront dans tous les prénoms :' %>
				<%= text_field_tag :required_chars, 'na', placeholder: "Entrez une combinaison", class: "form-control", pattern: "[a-zA-Z]*", title: "Seuls les lettres sont autorisées" %>

				<%= label_tag :starts_with, "Lettre(s) de début :", class: "" %>
				<%= text_field_tag :starts_with, nil, placeholder: "Entrez la lettre de début", class: "form-control", pattern: "[a-zA-Z]*", title: "Seuls les lettres sont autorisées" %>

				<%= label_tag :ends_with, "Lettre(s) de fin :", class: " mt-2", pattern: "[a-z]*" %>
				<%= text_field_tag :ends_with, nil, placeholder: "Entrez la lettre de fin", class: "form-control", pattern: "[a-zA-Z]*", title: "Seuls les lettres sont autorisées" %>

					<p class="masthead-subheading font-weight-light mt-2">Trouver le prénom parfait pour votre bébé !</p>
				<%= submit_tag "Générer", class: "btn btn-secondary btn-lg mt-2" %>
			<% end %>
			<!-- Masthead Subheading-->
		</div>
	</header>
	<!-- About Section-->
	<section class="page-section" id="about">
		<div class="container">
			<!-- About Section Heading-->
			<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">A propos</h2>
			<!-- Icon Divider-->
			<div class="divider-custom">
				<div class="divider-custom-line"></div>
				<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
				<div class="divider-custom-line"></div>
			</div>
			<!-- About Section Content-->
			<div class="row">
				<div class="col-lg-5 ms-auto"><p class="lead">BabyNameGenerator est un algorithme qui fournit des méthodes pour générer et filtré des prénoms. Il contient une liste de voyelles et de consonnes communes,
					et un ensemble de règles pour déterminer quels prénoms sont autorisés et lesquels sont interdit.</p></div>
				<div class="col-lg-4 me-auto"><p class="lead">Dont voici les règles de base :
					<ul>
						<li>La combinaison de lettres "NA" doit être présente dans chaque prénom.</li>
						<li>Les prénoms ne peuvent pas commencer par les lettres Q, U, V, W, X, Y ou Z.</li>
						<li>La taille des prénoms doit être comprise entre 4 et 5 caractères.</li>
						<li>(Prochainement ces paramètres pourront être modifiés)</li>
					</ul></p>
				</div>
			<!-- About Section Button-->
			<div class="text-center mt-4">
				<a class="btn btn-xl btn-outline-dark" href="https://pastebin.com/NkQrnugq" target="_blank">
					<i class="fa-sharp fa-solid fa-user-secret"></i>
					Voir l'algorithme
				</a>
			</div>
		</div>
	</section>
	<!-- Bootstrap core JS-->
	<%= render "partials/script" %>
</body>