<body id="page-top">
	<!-- Masthead-->
	<header class="masthead bg-primary text-white text-center">
		<div class="container d-flex align-items-center flex-column">
			<!-- Masthead Avatar Image-->
			<img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." />
			<!-- Masthead Heading-->
			<h1 class="masthead-heading text-uppercase mb-0">Génère un nom de bébé</h1>
			<!-- Icon Divider-->
			<div class="divider-custom divider-light">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
					<div class="divider-custom-line"></div>
			</div>
			<%= form_with(url: baby_names_path, method: :get, local: true, class: "form-inline") do %>
				<!-- Mettre côte à côte les champs de saisie -->
				<%= label_tag :starts_with, "Lettre de début :", class: "sr-only" %>
				<%= text_field_tag :starts_with, nil, placeholder: "Entrez la lettre de début", class: "form-control" %>

				<%= label_tag :ends_with, "Lettre de fin :", class: "sr-only" %>
				<%= text_field_tag :ends_with, nil, placeholder: "Entrez la lettre de fin", class: "form-control" %>

				<%= submit_tag "Générer", class: "btn btn-secondary" %>
			<% end %>
			<!-- Masthead Subheading-->
			<p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
		</div>
	</header>
	<!-- About Section-->
	<section class="page-section" id="about">
		<div class="container">
			<!-- About Section Heading-->
			<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">A propos</h2>
			<!-- Icon Divider-->
			<div class="divider-custom">
				<div class="divider-custom-line"></div>
				<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
				<div class="divider-custom-line"></div>
			</div>
			<!-- About Section Content-->
			<div class="row">
				<div class="col-lg-4 ms-auto"><p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
				<div class="col-lg-4 me-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>
			</div>
			<!-- About Section Button-->
			<div class="text-center mt-4">
				<a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
					<i class="fas fa-download me-2"></i>
					Free Download!
				</a>
			</div>
		</div>
	</section>
	<!-- Bootstrap core JS-->
	<%= render "partials/script" %>
</body>