<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport"    content="width=device-width, initial-scale=1.0">

		<!-- Custom styles for our template -->
		<link rel="stylesheet" href="assets/css/main.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
	</head>

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">Generator Names baby</h1>
				<p class="tagline"> script créer par Harry retrouver le a cette adresse</p>
				<p><a class="btn btn-default btn-lg" role="button">MORE INFO</a> <a class="btn btn-default btn-lg" href="/home/new" role="button">SCRIPT EXECUTE</a></p>
				<%= form_with(url: baby_names_path, method: :get, local: true, class: "form-inline") do %>
					<%= label_tag :starts_with, "Lettre de début :", class: "sr-only" %>
					<%= text_field_tag :starts_with, nil, placeholder: "Entrez la lettre de début", class: "form-control" %>

					<%= label_tag :ends_with, "Lettre de fin :", class: "sr-only" %>
					<%= text_field_tag :ends_with, nil, placeholder: "Entrez la lettre de fin", class: "form-control" %>

					<%= submit_tag "Générer", class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">je suis intro</h2>
		<p class="text-muted">
			paragraphe intro
		</p>
	</div>
	<!-- /Intro-->

	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			<h3 class="text-center thin">Pourquoi utiliser Baby names générator?</h3>
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Bootstrap-powered</h4></div>
					<div class="h-body text-center">
						<p></p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Fat-free</h4></div>
					<div class="h-body text-center">
						<p></p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Creative Commons</h4></div>
					<div class="h-body text-center">
						<p></p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Author's support</h4></div>
					<div class="h-body text-center">
						<p> </p>
					</div>
				</div>
			</div> <!-- /row  -->
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">
		<h2 class="text-center top-space">le container</h2>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<h3>titre h3</h3>
				<p>texte h3</p>
			</div>
			<div class="col-sm-6">
				<h3>titre h3</h3>
				<p>texte h3</p>
			</div>
		</div> <!-- /row -->
		<div class="row">
			<div class="col-sm-6">
			<h3>titre h3</h3>
			<p>texte h3</p>
			</div>
			<div class="col-sm-6">
				<h3>titre h3</h3>
				<p>texte h3</p>
			</div>
		</div> <!-- /row -->
		<div class="jumbotron top-space">
			<h4>h4</h4>
     		<p class="text-right">texte h4</p>
  		</div>
		</div>	<!-- /container -->

		<!-- Social links. @TODO: replace by link/instructions in template -->
		<section id="social">
			<div class="container">
				<div class="wrapper clearfix">
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style">
					</div><!-- AddThis Button END -->
				</div>
			</div>
		</section><!-- /social links -->
	</div>
</html>