<!DOCTYPE html>
<html>
  <head>
  <!-- Primary Meta Tags -->
    <title>BabyNameGenerator — Trouver le prénom parfait.</title>
    <meta name="title" content="BabyNameGenerator — Trouver le prénom parfait.">
    <meta name="description" content="Ce générateur va vous aider à trouver un prénom original pour votre bébé. Essayez-le et vous verrez !">

    <!-- Metas -->
    <meta name="description" content="Ce générateur va vous aider à trouver un prénom original pour votre bébé. Essayez-le et vous verrez !">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@BabyNameGenerator">
    <meta name="twitter:creator" content="@BabyNameGenerator">
    <meta name="twitter:title" content="BabyNameGenerator — Trouver le prénom parfait.">
    <meta name="twitter:description" content="Ce générateur va vous aider à trouver un prénom original pour votre bébé. Essayez-le et vous verrez !">
    <meta name="twitter:image" content="https://github.com/Symitsh/Baby_names_generator/blob/2491b9fce1289b45e27c8f5117975d8184145a74/ScreenBabyNameGenerator.png">
    <meta property="og:url" content="https://baby-names-generator.up.railway.app/">
    <meta property="og:image" content="https://github.com/Symitsh/Baby_names_generator/blob/2491b9fce1289b45e27c8f5117975d8184145a74/ScreenBabyNameGenerator.png">

    <%= favicon_link_tag 'img/bebe.png' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
		<!-- Google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <%= yield %>
    <%#= console if Rails.env.development? %>
    <%= render 'partials/scroll_button' %>
    <%= render 'partials/footer'%>
  </body>
</html>
